{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dwitter Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleLogin.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <div id="container">
        <div id="logo">
            <div id="text">Dwitter</div>
        </div>
        <div id="center">
            <h1>Recover</h1>
            <form method="POST" class="Login">
                {% csrf_token %}
                <div class="txt_field">
                    {{ form.username }}
                </div>
                    {{ form.username.errors }}
                <div class="txt_field">
                    {{ form.email }}         {# Podmienić tą formę na nową na ??email?? #}
                </div>
                    {{ form.email.errors }}
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                <input type="submit" value="Recover">       {# przycisk #}
                <div class="signup_link">
                    Remember password? <a href="{% url 'login' %}">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>