{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dwitter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleMainPage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="container">

        <div id="top">

            <div class="topOption">
                Home
            </div>
            <div class="topOption">
                Settings
            </div>
            <div class="topOption">
                Profile
            </div>
            <div class="topOption">
                Help
            </div>
            <div id="topProfile">
               Username            {# replace username with the one from database#}
            </div>

            <div style="clear: both;"></div>
        </div>


        <div id="middle">
            <ul>
                <li class="post">
                    <div class="postTitle">
                        Lorem ipsum
                    </div>
                    <div class="postContent">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at scelerisque tortor, sit amet facilisis justo. In in efficitur magna. Sed erat arcu, pharetra quis laoreet nec, pellentesque at neque. Integer porta, est et gravida venenatis, diam lorem malesuada dolor, feugiat tempor lectus magna vel sem. Maecenas consequat mi lorem, nec mattis orci consequat id. Sed pretium hendrerit vestibulum. Suspendisse a eleifend quam, at tempus nunc. Etiam id blandit ante, sit amet sollicitudin augue. Cras ut est ac velit ornare sollicitudin sed ut nulla. Etiam massa elit, tempus quis lectus quis, faucibus molestie felis. Sed rhoncus justo ipsum, a mollis tellus lacinia id. Donec laoreet iaculis arcu, eget euismod diam blandit eu. Aliquam viverra lobortis erat, et elementum erat consectetur tincidunt. Nullam aliquet sapien ac risus porttitor tempus. Curabitur congue pulvinar facilisis. Nullam quis luctus arcu.
                    </div>

                    <ul>
                        <li class="postComment">
                            <div class="postAuthor">Author</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit diam, dignissim sit amet vehicula in, malesuada sit amet magna. Etiam ex tellus, feugiat a sem non, varius pulvinar nisl. Vivamus eros diam, vulputate nec orci eu, aliquet varius sem. Phasellus efficitur turpis a
                        </li>
                        <li class="postComment">
                            <div class="postAuthor">Author</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit diam, dignissim sit amet vehicula in, malesuada sit amet magna. Etiam ex tellus, feugiat a sem non, varius pulvinar nisl. Vivamus eros diam, vulputate nec orci eu, aliquet varius sem. Phasellus efficitur turpis a
                        </li>
                        <li class="postComment">
                            <div class="postAuthor">Author</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit diam, dignissim sit amet vehicula in, malesuada sit amet magna. Etiam ex tellus, feugiat a sem non, varius pulvinar nisl. Vivamus eros diam, vulputate nec orci eu, aliquet varius sem. Phasellus efficitur turpis a
                        </li>
                        <li class="postComment">
                            <div class="postAuthor">Author</div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit diam, dignissim sit amet vehicula in, malesuada sit amet magna. Etiam ex tellus, feugiat a sem non, varius pulvinar nisl. Vivamus eros diam, vulputate nec orci eu, aliquet varius sem. Phasellus efficitur turpis a
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <div id="bottom">
            <div id="logout">
                <a href="/logout">logout</a>
            </div>
        </div>

    </div>
</body>
</html>