{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dwitter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleMainPage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">

        <div id="top">

            <a href="/home">
                <div class="topOption">
                    Dwitter
                </div>
            </a>
            <div class="topOption">
                Settings
            </div>
            <a href="/add-post">
                <div class="topOption">
                    Add Post
                </div>
            </a>
            <a href="/add-friend">
                <div class="topOption">
                    Add Friend
                </div>
            </a>
            <div class="topProfile">
               {{ user.get_username }}        {# replace username with the one from database#}
            </div>

            <div style="clear: both;"></div>
        </div>


        <div id="middle">
            <ul>

                {% for post in posts %}
                <li class="post">   {# i think we need to use this class as an object for making posts #}
                    <div class="postTitle">
                        {{ post.title }}
                    </div>
                    <div class="postContent">
                        <img src="{{ post.image_url }}" alt="">
                        {{ post.text }}
                    </div>
                    <div class="postAddComment"> Add comment</div>
                    <ul>
                        {% for comment in post.comment_set.all %}
                        <li class="postComment">
                            <div class="postAuthor">{{ comment.author }}</div>
                            {{ comment.text }}
                        </li>   {# another class for comments?? idk xD #}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}

            </ul>
        </div>


        <div id="bottom">
            <a href="/logout">
                <div id="logout">
                    logout
                </div>
            </a>
        </div>

    </div>

</body>
</html>