{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dwitter Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleShowFriends.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <div id="container">

        <div id="center">
            {% csrf_token %}

            <div id="userList">
                <ul>
                    {% for friend in friends %}
                        <li>
                            <img src="{% static 'avatar.png' %}">
                            <div class="text">{{ friend.whom.username }}</div>
                            <div style="clear: both"></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <a href="/home">
                <input type="submit" value="Back" id="backButton"> {#going back to main page#}
            </a>
        </div>


    </div>

</body>
</html>