body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 400;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #82ccdd 0%, #60a3bc 74%);
    height: 100vh;
    overflow: hidden;
}

#container{
    margin: 60px auto 0 auto;
    width: 450px;
    height: 700px;
}

#logo{
    font-size: 60px;
    font-weight: bold;
    color: #f5f6fa;
    position: relative;
    width: 230px;
    height: 230px;
    background: none;
    border: 10px solid #f5f6fa;
    border-radius: 125px;
    left: 22.5%;
}

#logo #text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*logo----------------------------------------center*/

#center{
    position: relative;
    width: 400px;
    background: #f5f6fa;
    border-radius: 10px;
    vertical-align: center;
    top: 5%;
    left: 5%;
}

#center form{
    padding: 0 40px;
    box-sizing: border-box;
    overflow: hidden;
}

input[type=text]{
    padding: 10px;
    font-size: 16px;
    position: relative;
    margin-top: 30px;
    right: 3%;
    border-radius: 15px;
    width: 100%;
    height: auto;
    background-color: #f5f6fa;
    border: 2px solid #60a3bc;
    outline: none;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 100%;
    border: 1px solid #60a3bc;
    background-color: #60a3bc;
    color: #f5f6fa;
    font-weight: 700;
    border-radius: 25px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: .8s;
    margin-bottom: 15px;
}

input[type="submit"]:hover{
    border: 1px solid #82ccdd;
    background-color: #82ccdd;
    transition: .8s;
}