body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 400;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    height: 100vh;
    overflow: hidden;
}

#top{
    position: fixed;
    top: 0;
    margin: 0 5vw;
    width: 90vw;
    height: 10vh;
    background-color: black;
    color: #f5f6fa;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
}

#top .topOption{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 25px 0;
    height: 100%;
    width: calc(20%);
}

#top .topOption:hover{
    background-color: #404040;
    cursor: pointer;
}

#top #topProfile{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 25px 0;
    height: 100%;
    width: calc(20%);
}

/*top-------------------------------middle*/

#middle{
    margin: auto;
    width: auto;
    height: auto;
}

#middle ul{
    list-style: none;
    padding-left: 0;
    overflow-y:scroll;
}

#middle ul .post{
    overflow: auto;
    position: relative;
    width: 700px;
    box-sizing: border-box;
    margin: 15vh auto 12vh auto;
    border-radius: 30px;
    background-color: #f5f6fa;
    height: 73vh;
    padding: 20px;
}

#middle ul li .postTitle{
    border-bottom: 3px solid black;
    min-height: 70px;
    height: auto;
    text-align: justify;
    font-size: 35px;
    font-weight: bold;
}

#middle ul li .postContent{
    /*border: 1px solid blue;*/
    min-height: 70px;
    height: auto;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 25px;
    border-bottom: 3px solid black;
}

#middle ul li ul .postComment{
    /*border: 1px solid green;*/
    margin: 10px 0;
    border: 3px black solid;
    border-radius: 20px;
    min-height: 50px;
    height: auto;
    padding-left: 25px;
    padding-right: 10px;
    text-align: justify;
    font-size: 17px;
}

#middle ul li ul .postAuthor{
    /*border: 1px solid purple;*/
    height: 30px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

/*middle-------------------------------bottom*/


#bottom{
    position: fixed;
    bottom: 0;
    margin: 0 5vw;
    width: 90vw;
    height: 7vh;
    background-color: black;
    color: #f5f6fa;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
}

#bottom a{
    color: #f5f6fa;
    text-decoration: none;
}
#bottom:hover{
    background-color: #404040;
    cursor: pointer;
}

#bottom:visited{
    color: #f5f6fa;
    text-decoration: none;
}

#bottom #logout{
    margin: 12px;
}